src/io/input/MolSim.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:simpleType name="boundary_condition_type">
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Outflow"/>
                        <xs:enumeration value="Reflecting"/>
                    </xs:restriction>
                </xs:simpleType>

                
    <xs:element name="MolSim">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="simulation_parameters">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="end_time" type="xs:double"/>
                            <xs:element name="delta_time" type="xs:double"/>
                            <xs:element name="output_basename" type="xs:string"/>
                            <xs:element name="write_frequency" type="xs:unsignedInt"/>
                            <xs:element name="r_cutoff_radius" type="xs:double"/>
                            <xs:element name="gravity" minOccurs="0" type="xs:double"/>
                            <xs:element name="enable_brownian" type="xs:boolean"/>
                            <xs:element name="domain_size" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="x" type="xs:double"/>
                                        <xs:element name="y" type="xs:double"/>
                                        <xs:element name="z" type="xs:double"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="thermostats" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="initial_temp" type="xs:double"/>
                            <xs:element name="target_temp" type="xs:double"/>
                            <xs:element name="delta_temp" type="xs:double"/>
                            <xs:element name="is_gradual" type="xs:boolean"/>
                            <xs:element name="n_thermostats" type="xs:double"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="boundary_conditions" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="left" type="boundary_condition_type"/>
                            <xs:element name="right" type="boundary_condition_type"/>
                            <xs:element name="top" type="boundary_condition_type"/>
                            <xs:element name="bottom" type="boundary_condition_type"/>
                            <xs:element name="front" type="boundary_condition_type" minOccurs="0"/>
                            <xs:element name="back" type="boundary_condition_type" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="discs" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="disc" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="center">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="x" type="xs:double"/>
                                                    <xs:element name="y" type="xs:double"/>
                                                    <xs:element name="z" type="xs:double"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="initial_velocity">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="x" type="xs:double"/>
                                                    <xs:element name="y" type="xs:double"/>
                                                    <xs:element name="z" type="xs:double"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="radius" type="xs:unsignedInt"/>
                                        <xs:element name="mesh_width" type="xs:double"/>
                                        <xs:element name="mass" type="xs:double"/>
                                        <xs:element name="epsilon" type="xs:double"/>
                                        <xs:element name="sigma" type="xs:double"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="cuboids" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="cuboid" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="coordinate">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="x" type="xs:double"/>
                                                    <xs:element name="y" type="xs:double"/>
                                                    <xs:element name="z" type="xs:double"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="dimensions">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="x" type="xs:unsignedInt"/>
                                                    <xs:element name="y" type="xs:unsignedInt"/>
                                                    <xs:element name="z" type="xs:unsignedInt"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="mesh_width" type="xs:double"/>
                                        <xs:element name="mass" type="xs:double"/>
                                        <xs:element name="epsilon" type="xs:double"/>
                                        <xs:element name="sigma" type="xs:double"/>
                                        <xs:element name="initial_velocity">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="x" type="xs:double"/>
                                                    <xs:element name="y" type="xs:double"/>
                                                    <xs:element name="z" type="xs:double"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="particles" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="particle" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="position">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="x" type="xs:double"/>
                                                    <xs:element name="y" type="xs:double"/>
                                                    <xs:element name="z" type="xs:double"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="velocity">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="x" type="xs:double"/>
                                                    <xs:element name="y" type="xs:double"/>
                                                    <xs:element name="z" type="xs:double"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="mass" type="xs:double"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
    
